.body-align {
    font-size: 40px;
    text-align: center;
    border: none;
    
    
}
.col1{
    background-color: grey;
   text-align: right;
    color: white;
    border-bottom: 2px solid grey;
}

.col2{
    background-color: silver;
    border: 1px solid grey;
}

.col3{
    background-color: orange;
    color: white;
    border-bottom: 2px solid grey;
    text-align: center;
}
    

