.row2 li{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
.size-circle >p{
    background-color:grey;
    border: 1px solid black;
    margin: 15px;
  
  }
  .size-circle p{
      margin:4px;
  }